.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%) translateY(-40%);
    gap: 10px;
}

h2{
    font-weight: 600;
}

#form{
    display: flex;
    flex-direction: column;
    gap: 12px; 
}

#form input{
   width: 350px;
   height: 35px;
   border-radius: 7px;
   border: 1px solid rgb(150, 150, 150);
   outline: none;
}


#form input:focus{
    border: 0.1dvh solid #1f68c9;
}

.email-form div{
    margin-top: 5px;
}

.password-form div{
    margin-top: 5px;
}

#btn{
    width: 100%;
    height: 40px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #67b154;
    font-size: 11pt;
    background-color: #67b154;
    color: white;
    font-weight: 600;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#btn:hover{
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: rgb(114, 192, 95);
}

.options a{
    text-decoration: none;
    color: #1f68c9;
}

.options a:hover{
    text-decoration: underline;
}