.App{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.login{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow:  35px 35px 70px #9f9f9f,
              -35px -35px 70px #ffffff;
  padding: 70px;
  transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.login:hover{
  border-radius: 42px;
}

h1{
  font-size: 35pt;
  margin-bottom: 10px;
}

#usuario, #password{
  width: 260px;
  height: 20px;
  margin: 10px;
  padding: 10px;
  font-size: 13pt;
  transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: transparent;
  outline: none;
  border: 1px solid black;
  border-radius: 1px;
}

#usuario:hover, #password:hover{
  border-radius: 10px;
}

#usuario:focus, #password:focus{
  transition: none;
  border-color: red;
  border-radius: 10px;
}

.cta {
  border: none;
  background: none;
  margin-top: 20px;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 20px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  cursor: pointer;
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.cta a{
  text-decoration: none;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.informations{
  display: flex;
  align-items: center;
  justify-content: center;
}

.informations label{
  cursor: pointer;
  font-size: 12pt;
  margin: 5px;
  letter-spacing: 2px;
}

.informations a{
  text-decoration: none;
  color: #0080ff;
}

.informations input{
  width: 20px;
  height: 20px;
}

.cadastre-se{
  margin-top: 20px;
}

.cadastre-se a{
  letter-spacing: 2px;
  cursor: pointer;
  text-decoration: none;
  color: #0080ff;
}